/* https://ankiweb.net/shared/info/1899278645 */
@import url("_editor_button_styles.css");
@font-face {
  font-family: codefont;
  src: url("_Cascadia.ttf");
}

.card {
  margin: 12px;
  text-align: left;
  color: #1f0909;
}

.field {
  font-family: Arial;
  font-size: 20px;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  margin: 12px 0;
  padding: 0.6rem;
}

.fieldname {
  color: #adadad;
  font-size: 0.7rem;
  font-family: codefont;
  padding: 0.2rem;
}

.title {
  white-space: nowrap;
  overflow-x: auto;
}

#keyword {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}

.replay-button svg {
  margin-left: 5px;
  width: 65px;
  height: 65px;
  vertical-align: middle;
}

/* for inline-code */
code {
  background-color: #dadada;
  font-family: codefont;
  font-size: 0.8rem;
}

pre {
  font-family: codefont;
  width: auto;
  overflow: auto;
  font-size: 0.8rem;
  background-color: #f6f8fa;

  /* copy from somewhere */
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  display: block;
  padding: 9.5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #212529;
  background-color: #f8f9fa;
}

/* for my code-section */
pre.code-section {
  background-color: inherit;
}

pre code {
  background-color: inherit !important;
}

.url-link {
  font-size: 0.6em;
  color: #adadad;
}

/* copy from mdn */
table {
  color: #212121;
  text-rendering: optimizeSpeed;
  font-family: arial, x-locale-body, sans-serif;
  letter-spacing: -0.0027777778rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1.75;
  box-sizing: border-box;
  font-size: 1rem;
  border-collapse: collapse;
  width: auto;
  margin-bottom: 48px;
}

thead {
  color: #212121;
  text-rendering: optimizeSpeed;
  font-family: arial, x-locale-body, sans-serif;
  letter-spacing: -0.0027777778rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1.75;
  font-size: 1rem;
  border-collapse: collapse;
  box-sizing: border-box;
}

tbody {
  color: #212121;
  text-rendering: optimizeSpeed;
  font-family: arial, x-locale-body, sans-serif;
  letter-spacing: -0.0027777778rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1.75;
  font-size: 1rem;
  border-collapse: collapse;
  box-sizing: border-box;
}

tr {
  color: #212121;
  text-rendering: optimizeSpeed;
  font-family: arial, x-locale-body, sans-serif;
  letter-spacing: -0.0027777778rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1.75;
  font-size: 1rem;
  border-collapse: collapse;
  box-sizing: border-box;
}

th {
  color: #212121;
  text-rendering: optimizeSpeed;
  font-family: arial, x-locale-body, sans-serif;
  letter-spacing: -0.0027777778rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1.75;
  font-size: 1rem;
  border-collapse: collapse;
  box-sizing: border-box;
  text-align: left;
  border: 0;
  padding: 12px;
  background-color: #eee;
  border-bottom: 2px solid #fff;
  border-left: 0;
}

td {
  color: #212121;
  text-rendering: optimizeSpeed;
  font-family: arial, x-locale-body, sans-serif;
  letter-spacing: -0.0027777778rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1.75;
  font-size: 1rem;
  border-collapse: collapse;
  box-sizing: border-box;
  text-align: left;
  border: 0;
  border-left: 2px solid #fff;
  padding: 12px;
  background-color: #eee;
  border-bottom: 2px solid #fff;
}
