@font-face {
  font-family: codefont;
  src: url("_Cascadia.ttf");
}

@font-face {
  font-family: artfont;
  src: url("_Sonia.ttf");
}

.card {
  margin: 12px;
  text-align: left;
  background-color: #eaebef;
}

.field {
  font-family: Arial;
  font-size: 20px;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  margin: 12px 0;
  padding: 0.6rem;
}

.fieldname {
  color: #adadad;
  font-size: 0.7rem;
  font-family: codefont;
  padding: 0.2rem;
}

.title {
  white-space: nowrap;
  overflow-x: auto;
}

#question {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  font-family: artfont;
}

.audio {
  margin-left: 5px;
}

.audio img {
  width: 65px;
  height: 65px;
  vertical-align: middle;
}

#main {
  font-size: 1.2em;
}

#main mark.inlinecode {
  background-color: #f3f3f3;
  font-family: codefont;
}

.url-link {
  font-size: 0.6em;
  color: rgb(179, 179, 179);
}

.code-section {
  font-family: codefont;
  width: auto;
  overflow: auto;
  font-size: 0.8rem;
}
