.card {
  margin: 12px;
  text-align: left;
  color: #1f0909;
}

.field {
  font-family: Arial;
  font-size: 20px;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  margin: 12px 0;
  padding: 0.6rem;
}

.fieldname {
  color: #adadad;
  font-size: 0.7rem;
  font-family: codefont;
  padding: 0.2rem;
}

.title {
  white-space: nowrap;
  overflow-x: auto;
}

#question {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}

.replay-button svg {
  margin-left: 5px;
  width: 65px;
  height: 65px;
  vertical-align: middle;
}
