.card {
  margin: 12px;
  text-align: left;
  color: #1f0909;
}

.items {
  margin: 0 12px;
  padding: 10px 0;
}

.items + .items {
  border-top: 1px solid #e5e5e5;
}

#front,
#back {
  line-height: 1.5em;
}

#front {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
}

#sentence {
  font-size: 1.2em;
}
